<div class ="row">
  <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2"></div>
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 guide-content">
      <div class ="row">
        <div class="guide-text ">
          <h1 class="text-center">How To</h1>
        </div>
      </div>
      <div class="row" >
          <p class="guide-text">
          This app lets you add some objets into a groceries list and calculate total.<br>
          </p>
            <p class="guide-text">
              <b>New Product:</b> Create a new product for your Groceries List<br>
              <i>Each product belongs to one Category
              Each product can be <i>imported</i> witch gives an extra cost</i></p>
            <p class="guide-text">
            <b>List Products:</b> Shows your Groceries List<br>
              <i>You can <b>calculate total</b> of your Groceries List</i></br>
            <p class="guide-text">
            <b>New Category:</b> Create a new Category for your Groceries List<br>
              <i>Each category can have many products
              Each category can give an <i>extra cost</i> to its products</i></p>
            <p class="guide-text">
            <b>List Category:</b> List all your categories</p>
        </div>
    <div class ="row">
        <hr>
    </div>
    <div class ="row">
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 guide-content">
          <p class="guide-sign">
            Author: <b>Giovanni M Riva</b><i><a href="https://github.com/xGioe"></a></i>
          </p>
        </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
</div>
